<a href="https://colab.research.google.com/github/Yrii174/Biblioteka/blob/master/_untitled1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from scipy.stats import ttest_1samp
from scipy import stats
import numpy as np

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [ ]:
import pandas as pd
import numpy as np

data=pd.read_csv('/content/результаты А_B - cookie_cats 2.csv')
data.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3            0            0
1     337  gate_30              38            1            0
2     377  gate_40             165            1            0
3     483  gate_40               1            0            0
4     488  gate_40             179            1            1

In [ ]:
data.shape

(90189, 5)

In [ ]:
data.drop(['userid','sum_gamerounds'],axis=1,inplace=True)
data.head()

   version  retention_1  retention_7
0  gate_30            0            0
1  gate_30            1            0
2  gate_40            1            0
3  gate_40            0            0
4  gate_40            1            1

In [ ]:
print(data.isnull().sum())

version        0
retention_1    0
retention_7    0
dtype: int64

In [ ]:
data['version'].unique()

array(['gate_30', 'gate_40'], dtype=object)

In [ ]:
data['version'].unique()

array(['gate_30', 'gate_40'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
data['version']=le.fit_transform(data['version'])
data.head()

   version  retention_1  retention_7
0        0            0            0
1        0            1            0
2        1            1            0
3        1            0            0
4        1            1            1

In [ ]:
cols=data.columns
cols

Index(['version', 'retention_1', 'retention_7'], dtype='object')

In [ ]:
cat_cols=data.select_dtypes(exclude=['int','float']).columns
cat_cols

Index(['version'], dtype='object')

In [ ]:
data.dtypes

version        object
retention_1     int64
retention_7     int64
dtype: object

In [ ]:
enc_data=list(cat_cols)
enc_data=enc_data[:-1]
enc_data

[]

In [ ]:
data[enc_data]=data[enc_data].apply(lambda col:le.fit_transform(col))
data[enc_data].head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
data.head()

   version  retention_1  retention_7
0  gate_30            0            0
1  gate_30            1            0
2  gate_40            1            0
3  gate_40            0            0
4  gate_40            1            1

In [ ]:
data.shape

(90189, 3)